.element {
  overflow: hidden;
  width: 300px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px #888eca;
  cursor: pointer;
}

.element__box{
  display: grid;
  align-items: baseline;
  text-decoration: none;
}

.element__image {
  display: block;
  height: 128px;
  width: 128px;
}

.element__group{
  display: flex;
  align-items: flex-end;
}

.element__title {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #261349;
  width: 100%;
  max-width: 180px;
  padding-bottom: 30px;
  padding-left: 10px;
  margin: 0;
}

.element__email {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: #888eca;
  width: 100%;
  max-width: 280px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__delete {
  border: none;
  background-color: cornflowerblue;
  height: 30px;
  width: 95px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1px 5px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 900;
  color: #261349;
}

.element__delete:hover {
  filter: brightness(130%);
  transition: all .3s;
}

.element:hover {
  transform: scale(1.05);
  transition: all .2s;
}
